.TITLE-wrapper {
  padding: 0 20px;

  display: flex;
  align-items: center;

  position: relative;
  flex-basis: 50%;
}

.TITLE-corner_img {
  position: absolute;
  width: 68px;
}

.TITLE-img_wrapper {
  padding-left: 50px;
}

.TITLE-img {
  padding-top: 26px;
  padding-left: 26px;
}

.TITLE-text_wrapper {
  padding: 60px;
  
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 3.2px;
}

.TITLE-text_main {
  max-width: 530px;
}

.TITLE-text_underlined {
  position: relative;
}

.TITLE-text_underlined::after {
  content: '';
  background: url('images/underline.svg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 10px;
  display: block;
  
  position: absolute;
  bottom: 0;
  left: 0;
}

.TITLE-text_socials {
  padding-left: 22px;

  margin-top: 74px;
}

.TITLE-text_socials__text {
  margin-bottom: 16px;

  font-size: 15px;
  line-height: 24px;
}

@media (max-width: 1024px) {
  .TITLE-text_wrapper {
    padding: 55px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 3.2px;
  }
}

@media (max-width: 768px) {
  .TITLE-wrapper {
    flex-direction: column;
  }

  .TITLE-img_wrapper {
    padding: 0;
  }
  
  .TITLE-text_wrapper {
    padding: 35px;

    line-height: 36px;
    font-size: 40px;
  }

  .TITLE-text_socials {
    margin-top: 24px;
  }
}