@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

:root {
  --base-font: "DM Sans";
  --blue: #118DA8;
  --grey: #FFFFFFB2;
  --light-black: #191919;
}

body {
  font-family: var(--base-font), sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* APP */

.APP {
  background: #191919;
  color: #fff;
}

.APP-header_wrapper {
  display: flex;
  justify-content: space-between;
}

/* APP END */