@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

:root {
  --base-font: "DM Sans";
  --blue-active: #18a0be;
  --blue: #118DA8;
  --gray: #FFFFFFB2;
  --light-black: #191919;
  --black: #000000;
  --yellow: #FCFF51;
}


html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}
body {
  font-family: var(--base-font), sans-serif;
}

.APP-wrapper {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  min-height: 50px;
}

footer {
  min-height: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  background: var(--light-black);
  border: 1px solid var(--light-black);
  color: var(--gray);
}

button {
  display: block;
  border: 0;
  color: #fff;

  font-style: Bold;
  font-size: 15px;
  line-height: 28.8px;
}


.lb-corner_container {
  position: relative;

  padding: 0 0 26px 38px;
}

.lb-corner {
  position: absolute;
  
  bottom: 0;
  left: 0;

  width: 147px;
}

/* APP */

.APP {
  background: #191919;
  color: #fff;

  font-size: 17px;
  line-height: 27px;

  width: 100%;

  scroll-behavior: smooth;

  min-height: 100vh;
}

.APP-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.APP-header_wrapper {
  display: flex;
  
  justify-content: space-between;
  align-items: center;


  padding: 0 70px 0 50px;

  height: 120px;
  width: 100vw;
}

.APP-header_logo {
  font-size: 28px
}

.APP-header_nav_bar {
  padding-left: 12px;
}

.APP-header_nav {
  padding: 0 20px;
}

.APP-header_nav:last-child {
  padding-right: 0;
}

.APP-header_nav:first-child {
  padding-left: 0;
}

.APP-header_nav.active {
  color: var(--blue);
}

@media (max-width: 768px) {
  .APP-header_wrapper {
    padding: 0 30px 0 20px;
    height: 80px;
  }
  
  .APP-header_nav_bar {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0;

    background-color: var(--black);

    position: absolute;
    right: 0;
    top: 0;

    transform: translateX(100%);

    transition: transform .2s;

    height: 100%;

    width: 250px;

    z-index: 500;
  }

  .APP-header_nav_bar.active {
    transform: translateX(0);
  }

  .APP-header_nav {
    padding: 20px;
    margin: 0;
  }
  .APP-header_nav:last-child {
    padding: 20px;
  }
  .APP-header_nav:first-child {
    padding: 20px;
  }
  

  .burger {
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;

    z-index: 1000;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #fff;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #fff;
  }
  .burger::after {
    bottom: 0;
  }

  .burger::before {
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    transition: bottom .3s .15s, transform .3s;
  }
  .burger.active::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger.active::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
}

/* APP END */

/* BUTTON */

.BUTTON {
  line-height: 27px;

  border-radius: 6px;
  background: var(--blue);

  padding: 12px 20px;

  width: max-content;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .1s;
}

.BUTTON:hover {
  background: var(--blue-active);
  box-shadow: 10px 10px 20px var(--light-black);
}

/* BUTTON END*/

/* EPISODE */

.EPISODE-card_wrapper {
  padding: 40px;
  background: var(--black);
  margin: 0 50px 60px;
}

.EPISODE-wrapper {
  border-radius: 32px;

  display: flex;
  align-items: stretch;
}

.EPISODE-img {
  width: 389px;
  min-width: 389px;
  max-height: 100%;
  height: auto;

  object-fit: cover;

  margin-right: 53px;
}

.EPISODE-types {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 50px;
}

.EPISODE-types_item {
  margin-right: 12px;
}

.EPISODE-card_wrapper .EPISODE-types_item {
  color: #fff;
  background: var(--light-black);
}

.EPISODE-types_item {
  font-size: 18px;
  line-height: 27px;

  border-radius: 6px;

  background: var(--gray);
  color: var(--black);
  padding: 0 16px;
  width: max-content;
}

.EPISODE-number {
  color: var(--blue);
  
  margin-bottom: 18px;
}

.EPISODE-title {
  font-size: 64px;
  line-height: 70.4px;
  letter-spacing: 2.56px;

  margin-bottom: 28px;
}

.EPISODE-subtitle {
  font-size: 22px;
  line-height: 33px;

  margin-bottom: 18px;
  color: var(--gray);
}

@media (max-width: 1024px) {
  .EPISODE-img {
    width: 240px;
    min-width: 240px;
    margin-right: 30px;
}

  .EPISODE-types {
    margin-bottom: 25px;
  }

  .EPISODE-title {
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 2.56px;

    margin-bottom: 28px;
}

  .EPISODE-subtitle {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 18px;
    color: var(--gray);
  }
}

@media (max-width: 768px) {
  .lb-corner_container {
    position: relative;
    padding: 0 0 35px 15px;
  }
  .lb-corner {
    width: 100px;
  }

  .EPISODE-card_wrapper {
    padding: 40px;
    background: var(--black);
    margin: 0 0 60px;
  }

  .EPISODE-wrapper {
    border-radius: 32px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .EPISODE-img {
    display: none;
}

  .EPISODE-types {
    margin-bottom: 25px;
  }

  .EPISODE-title {
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 2.56px;

    margin-bottom: 28px;
}

  .EPISODE-subtitle {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 18px;
    color: var(--gray);
  }
}

/* EPISODE END */

/* COMMENT */

.COMMENT-wrapper {
  padding: 50px;

  background: var(--black);
  border-radius: 32px;
}

.COMMENT-text {
  font-size: 36px;
  line-height: 43.2px;
  margin: 20px 0;
}

.COMMENT-author {
  font-size: 24px;
  line-height: 28.8px;
  color: var(--gray);
}

.COMMENTS-wrapper {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  padding: 100px 70px;
}

.COMMENTS-wrapper > div {
  max-width: 350px;

  overflow-x: hidden;

  margin-bottom: 16px;
  margin-right: 16px;
}

@media (max-width: 768px) {
  .COMMENTS-wrapper {
    padding: 30px 20px;
  }

  .COMMENTS-wrapper > div {
    max-width: 300px;
  }
}

/* COMMENT END */